/* list-begin */
.icon-help {
  width: 24px;
  height: 24px;
  background-image: url(../img/help.png);
  border-radius: 3px
}
.icon-about {
  width: 24px;
  height: 24px;
  background-image: url(../img/about.png);
  border-radius: 3px
}
/* list-end */

/* dial-button */
.icon-dial {
  width: 24px;
  height: 24px;
  background-image: url(../img/dial.png);
  border-radius: 3px
}


/* slider-begin */
.swiper-custom {
  position:relative;
  height:100%;
}
.swiper-container {
  height:100%;
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: none;
  border:1px solid #aaa;
  border-radius: 0 0 0 0;
  opacity:1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #007aff;
  border-color: #007aff;
}
/* slider-end */

/* uploader */
.card {
  text-align: center;
}

.card-header {
  display: inline-block;
}

.card-content {
  text-align: center;
}
.card-content-inner {
  display: inline-block;
  text-align: center;
}

#uploader .thumbnail {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.uploader-list {
    width: 100%;
    overflow: hidden;
}
