/* list-begin */
.icon-help {
  width: 24px;
  height: 24px;
  background-image: url(../img/help.png);
  border-radius: 3px
}
.icon-about {
  width: 24px;
  height: 24px;
  background-image: url(../img/about.png);
  border-radius: 3px
}
/* list-end */

/* dial-button */
.icon-dial {
  width: 24px;
  height: 24px;
  background-image: url(../img/dial.png)
  border-radius: 3px
}


/* slider-begin */
.swiper-custom {
  position:relative;
  height:100%;
}
.swiper-container {
  height:100%;
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: none;
  border:1px solid #aaa;
  border-radius: 0 0 0 0;
  opacity:1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #007aff;
  border-color: #007aff;
}
/* slider-end */

/* uploader */
#uploader .thumbnail {
    width: 110px;
    height: 110px;
}
#uploader .thumbnail img {
    width: 100%;
}
.uploader-list {
    width: 100%;
    overflow: hidden;
}

.file-item .info {
    display: block
    position: absolute;
    left: 4px;
    bottom: 4px;
    right: 4px;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    z-index: 10;
}

.file-item .error {
    display: block
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: red;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px;
}