/*login page*/
.bg {
  width: 100%;
  height: 100%;
  background-image: url('../img/login-run.png');
  background-size: cover;
  filter:alpha(opacity=60);
  opacity:0.6;
  position: absolute;
  z-index:-1;
  -webkit-filter:brightness(0.9);
  /*-webkit-filter:blur(3px);*/
}
.back img{
  width:20px;
  height: 20px;
}
.login-screen-title{
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  color:white;
  letter-spacing: 10px;
}
.list-block{
  width:80%;
  height:20%;
  display: flex;
  flex-direction: column;
  font-family: Microsoft YaHei;
  color:#fff;
}
.item-content{
  background-color: rgba(255, 255, 255,0.3);
  border-radius:5px;
  margin-top: 20px;
}
.item-link {
  border:2px solid white;
  border-radius:5px;
  text-align: center;
  margin-top:20px;
}
.list-block-label p{
  color:rgb(33, 150, 243);
  font-family: Microsoft YaHei;
  margin-top: 40px;
  font-weight: bold;
}

/* list-begin */
.icon-head {
  width:24px;
  height:24px;
  background-image:url(../img/head.png);
  border-radius:3px
}
.icon-setting {
  width: 24px;
  height: 24px;
  background-image: url(../img/setting.png);
  border-radius: 3px
}
.icon-help {
  width: 24px;
  height: 24px;
  background-image: url(../img/help.png);
  border-radius: 3px
}
.icon-about {
  width: 24px;
  height: 24px;
  background-image: url(../img/about.png);
  border-radius: 3px
}
/* list-end */

/* slider-begin */
.swiper-custom {
  position:relative;
  height:100%;
}
.swiper-container {
  height:100%;
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: none;
  border:1px solid #aaa;
  border-radius: 0 0 0 0;
  opacity:1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #007aff;
  border-color: #007aff;
}
/* slider-end */

/*register page*/
.regi-bgimg{
  width: 100%;
  height: 45%;
  background-image: url('../img/register.png');
  background-size: cover;
}
.item-content{
  border-bottom: 1px solid #D0D5CF;
}
#regi-button{
  background-color: rgb(33, 150, 243);
}
#item-bd-login{
font-size: 15px;
font-family: Microsoft YaHei;
}
